<html>
    <head>
        <% include ../../partials/header.ejs %>
    </head>
    <body>
        <h1>K2 - SO</h1>
        
        <div id='container'>
            <% include ../../partials/so/k2.ejs %>
        </div>
    </body>
</html>