<html>
    <head>
        <% include ../../partials/header.ejs %>
    </head>
    <body>
        <h1 class="title">K1 - Arquitetura</h1>
        
        <div id='container'>
            <% include ../../partials/arquitetura/k1.ejs %>
        </div>
    </body>
</html>