<html>
    <head>
        <% include ../../partials/header.ejs %>
    </head>
    <body>
        <h1>K3 - Arquitetura</h1>
        
        <div id='container'>
            <% include ../../partials/arquitetura/k3.ejs %>
        </div>
    </body>
</html>