body {
    margin: 0;
    font-family: "Montserrat", "Avenir";
    color: #004D40;
}

.title {
    margin: 50px auto 25px;
    font-weight: bold;
    text-overflow: ellipsis;
	overflow: hidden;
}

.quizzes {
    display: flex;
    flex-direction: column;
}

.quizzes a {
    display: flex;
    width: 10%;
    background: #004D40;
    margin: 10px auto;
    line-height: 75px;
    border-radius: 10px;
    color: #FAFAFA;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 75%;
    margin: 40px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: normal;
}

#container {
    width: 75%;
    margin: 20px auto;
}

.question {
    margin: 40px 0px 60px;
    padding: 10px 0px 20px 20px;
    background: #FAFAFA;
    color: #00695C;
    line-height: 1.6;
    border: 1px solid #00695C;
}

span {
    margin: 10px 10px;
    float: left;
    font-size: 2.5em;
    font-weight: bold;
    color: #004D40;
}

div p {
    margin: 0px auto;
    padding: 30px 75px 0px;
    font-size: 18px;
}

div p:nth-of-type(2) {
    font-size: 16px;
}

div p:nth-of-type(3) {
    padding: 30px 75px;
    font-weight: bold;
    font-size: 20px;
    color: #004D40;
}

img {
    margin: 20px 75px 0px;
    width: 50%;
}

@media only screen and (max-device-width: 991.98px) {
    .quizzes a {
        width: 50%;
    }

    h1 {
        width: 85%;
    }

    #container {
        width: 85%;
    }
    
    span {
        margin: 20px 10px;
    }

    div p {
        padding: 50px 75px 0px;
    }

    div p:nth-of-type(3) {
        padding: 50px 75px;
    }
}