<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <h1>Questionários Arquitetura</h1>
        
        <div class="quizzes">
            <a href="arquitetura/k1">K1</a>
            <a href="arquitetura/k2">K2</a>
            <a href="arquitetura/k3">K3</a>
            <a href="arquitetura/k4">K4</a>
        </div>

        <h1>Questionários SO</h1>
        
        <div class="quizzes">
            <a href="so/k1">K1</a>
            <a href="so/k2">K2</a>
        </div>
    </body>
</html>