<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <h1>Banco de Dados - Arquitetura - K3</h1>
        
        <div id='container'>
            <% include ../partials/questions.ejs %>
        </div>

    </body>
</html>
